{% extends "base.html" %}

{% block title %}Logs - TeleScout{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2 class="mb-4">Logs</h2>
        
        <div class="alert alert-info">
            <h5>Coming Soon!</h5>
            <p>This section will display application logs, including:</p>
            <ul>
                <li>Real-time log viewer</li>
                <li>Log level filtering</li>
                <li>Search functionality</li>
                <li>Download log files</li>
                <li>Error highlighting</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}